* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
}

.darkMode {
  background-color: #141414;
  color: white;
}

button {
  background-color: transparent;
}

input {
  padding: 10px;
}

hr {
  margin: 20px 0 10px;
}

.darkMode hr {
  background: gray;
  height: 1px;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* component */

.btn {
  font-size: 14px;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.darkMode .btn {
  color: white;
  border: 1px solid white;
}

.btn:hover {
  color: white;
  background-color: black;
}

.darkMode .btn:hover {
  color: black;
  background-color: white;
}

.iconBtn {
  cursor: pointer;
}

/* layout */

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* container */

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 0px; */
  padding: 100px 0px;
}

.header a {
  margin-right: 10px;
}

.logo {
  font-weight: bold;
}

.darkMode .logo {
  background-color: black;
  color: white;
}

.mainMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.darkModeBtn {
  padding: 7px;
  border-radius: 5px;
  margin-right: 10px;
  transition: transform 0.5s;
}

.darkModeBtn:hover {
  background-color: #e0e0e0;
}

.darkMode .darkModeBtn:hover {
  background-color: #2a2a2a;
}

.userBtn {
  position: relative;
}

.user {
  padding: 10px;
  cursor: pointer;
}

.user .arrow {
  color: gray;
}

.user:hover .arrow {
  color: black;
}

.darkMode .user:hover .arrow {
  color: white;
}

.userMenu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0px;
  width: 100%;
  border: 0px;
  border-radius: 8px;
  box-shadow: -2px 2px 10px gray;
}

.userMenuItem {
  display: block;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.userMenuItem:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.darkMode .userMenuItem:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

/* post */

.postList {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.postItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25% - 20px);
  aspect-ratio: 5 / 4;
  background-color: white;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity 1s, display 1s, transform 0.5s, box-shadow 0.5s;
}

.darkMode .postItem {
  background-color: #202020;
  box-shadow: 0px 4px 16px 0px rgba(255, 255, 255, 0.1);
}

.postItem:hover {
  transform: translateY(-6px);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.04);
}

.darkMode .postItem:hover {
  box-shadow: 5px 5px 10px rgb(255, 255, 255, 0.1);
}

.postItem .contentBox {
  height: 85%;
  cursor: pointer;
}

.postItem .contentBox .thumbnail {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.postItem .contentBox h4 {
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding: 0px 12px;
}

.darkMode .postItem .contentBox h4 {
  color: white;
}

.postItem .infoBox {
  height: 15%;
  padding: 0px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postItem .infoBox span {
  color: grey;
  margin: 0px;
}

.postItem .infoBox .iconBtnBox {
  display: flex;
  flex-direction: row;
}

/* detail */

.detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.detail h1 {
  margin: 20px 0px;
}

.detail .imgBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px;
}

.detail img {
  max-width: 100%;
  object-fit: cover;
}

.detail p {
  margin: 40px 0px, 20px; /* 위, 양 옆, 아래*/
  font-size: 18px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment #commentInput {
  width: 100%;
  height: 14vh;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 16px;
}

.darkMode .comment #commentInput {
  background-color: #202020;
  color: white;
}

.comment .commentBtnBox {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.comment .commentBtn {
  margin-top: 10px;
}

.comment .commentItem {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.comment .commentItem .author {
  font-weight: bold;
  margin-right: 10px;
}

.comment .commentItem p {
  font-size: 16px;
}

.heartWrapper {
  position: absolute;
  left: -8rem;
  top: 6rem;
}

.fixed.heart {
  position: fixed;
  top: 130px;
}

.heart .heartBtn {
  font-size: 32px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

/* 여기까지 */

.p-20 {
  padding: 20px;
}
